In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

Import CSV file

In [4]:
os.getcwd()

'/Users/dylanjones'

In [4]:
car_data = pd.read_csv('Data-Science-Portfolio/Data/carvana.csv')

car_data.head()

              Name   Year  Miles  Price
0   Chevrolet Trax   2018  41946  16990
1      GMC Terrain   2020  45328  23990
2    Jeep Wrangler   2012  81068  21590
3    Jeep Renegade   2019  35372  21590
4            BMW X  20173  68992  22990

In [ ]:
car_data.info()

In [ ]:
car_data.describe()

In [ ]:
num_car_types = car_data['Name'].unique()
len(num_car_types)

There are 416 unique make and model car combinations

In [ ]:
# Clean data to remove errors in 'Year'
car_data['Year'] = car_data['Year'].apply(lambda x: x if (x >= 2000 and x<= 2030) else np.nan)

# Add 'Age' column
car_data['Age'] = 2023 - car_data['Year']

car_data.head()

Show relationship between 'Age' and 'Price'

In [ ]:
fig, ax = plt.subplots(figsize=(16,8))

sns.boxplot(x='Age', y='Price', data=car_data)
ax.set_title('Price by Age')
ax.set_xlabel('Age')
ax.set_ylabel('Price')

The data above shows the price declines over time. There are numberous positive outliers for most ages. As such, we will consider using the median price for each age when showing the price trend line below.

In [ ]:
fig, ax = plt.subplots(figsize = (16, 8))
x = car_data['Age']
y = car_data['Price']

# Plot car price by age
plt.scatter(x, y)
plt.xlabel('Age')
plt.ylabel('Price')
plt.title('Car Price by Age')

# Draw line of mean price by age
car_data_age1 = car_data.groupby(['Age'])['Price'].mean()
car_data_age1.plot.line(color='red', marker='o')

# Draw line of mean price by age
car_data_age2 = car_data.groupby(['Age'])['Price'].median()
car_data_age2.plot.line(color='green', marker='o')

ax.legend(['Car Price', 'Mean Price', 'Median Price'])

Consistent with the box plot chart, the above chart clearly shows a decline in price over time. The most significant decline occurs over the first two years of the cars life. The decline in price significantly slows after age 6 as shown by the flattening mean and median lines. Despite the positive outliers noted earlier, the mean and median are similar across all ages.

In [ ]:
corr = car_data['Age'].corr(car_data['Price'])

corr

There is a moderate negative correlation between age and price, meaning as age increases price decreases.